.wp-block-group.slider {

  position: relative;
  margin-bottom: 0;
  overflow: hidden;

  .flickity-viewport {

    @include absolutebox();
    max-width: 100% !important;
    height: 100% !important;

    .flickity-slider {

      .wp-block-cover {

        width: 100% !important;

        .wp-block-cover__background {


        }   

        .wp-block-cover__inner-container {

          > .wp-block-group {

            max-width: 400px;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
      }
    } 
  }
}