.wp-block-group.slider {

  > .wp-block-group {

    position: relative;
    margin-bottom: 0;
    overflow: hidden;

    .flickity-viewport {

      @include absolutebox();
      max-width: 100% !important;
      height: 100% !important;

      .flickity-slider {

        .wp-block-cover {

          width: 100% !important;
        } 
      }

      &:after {

        
      }
    }
  }

  > .slidertitle{

    position: absolute;
    top: 65%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%) translateY(-50%);
    border-radius: $space * 0.5;
  }
}