.wp-block-group.slider {

  > .wp-block-group.slides {

    position: relative;
    margin-bottom: 0;
    overflow: hidden;

    .flickity-viewport {

      @include absolutebox();
      max-width: 100% !important;
      height: 100% !important;

      .flickity-slider {

        .wp-block-cover {

          width: 100% !important;
        } 
      }
    }
  }

  > .content {

    position: absolute;
    bottom: 0;
    // width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    width: max-content; 

    // bottom center>(default) left right

    &.left {

      left: 0;
      transform: none;
    }

    &.right {

      right: 0;
      transform: none;
    }
  }
}