:root :where(.is-layout-flow) > * {

  margin-block-start: 0;
}

.main-header-menu {
  
  > .menu-item {

    margin: 0 0 0 $space;

    > .menu-link {

      background-color: $color-light-transparent-a;
      padding: 0 $space;
      font-size: 0.9em; 
    }
  }
}

#ast-hf-mobile-menu {

  padding-top: 1px;
  
  > .menu-item {

    margin: 0 0 0 0;
  }
}

.ast-mobile-header-content {

  .ast-builder-menu-mobile {

    .ast-main-header-bar-alignment {

      .main-header-bar-navigation {

        .site-navigation {

          .main-navigation {

            .main-header-menu {

              .menu-item {

                a {

                  text-align: center;
                }
              } 
            }
          }
        }
      }
    }
  }

  .ast-builder-layout-element {

    line-height: 3;
    text-align: center;

    .ast-header-social-wrap {

      width: 100%;

      .header-social-inner-wrap {

        &:hover {

          background-color: var(--ast-global-color-4);
        }

        a {

          width: 100%;
          height: 100%;
          padding: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 544px) {

  .wp-block-columns .wp-block-column:not(:last-child) {

    margin-bottom: 0;
  }
}

.grecaptcha-badge {

  bottom: $space * 10 !important;
  z-index: 999;
}

.pgcal-container {

  padding: $space * 2;
  background-color: $color-light;
}

.ast-theme-transparent-header .post-password-form {

  margin-top: 160px;
  max-width: 300px;

  label {

    input[name="post_password"] {
      
      margin: $space * 0.5 auto 0; 
      width: 200px;
      display: block;
      text-align: center;
    }
  }

  input[type="submit"] {

    margin: $space * 4 0 0 0;
  }
}

