
/* SIZES */

$space: 8px;

/* Colors */

$color-light: #fff;
$color-dark: #000;

$color-light-transparent-a: transparentize($color-light, 0.7);
$color-dark-transparent-a: transparentize($color-dark, 0.4);
$color-dark-transparent-b: transparentize($color-dark, 0.8);

$color-error: #cc0000;