/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/reservas/main.scss ***!
  \***********************************************************************************************************************/
/* Editor */
.wp-block-ongadi-imagebank .Editor .Search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wp-block-ongadi-imagebank .Editor .Search .components-base-control__field {
  margin-bottom: 0;
}
.wp-block-ongadi-imagebank .Editor .Search .components-base-control__field input {
  width: 250px;
  padding: 17px 16px;
}
.wp-block-ongadi-imagebank .Editor .Search .components-button {
  margin: 0 0 0 8px;
}
.wp-block-ongadi-imagebank .Editor .Results {
  margin: 16px 0 0 0;
}
.wp-block-ongadi-imagebank .Editor .Results .Message {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListMessage {
  margin: 8px 0;
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  padding: 0 0 8px 0;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
  font-size: 0.8em;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image {
  padding: 10px 10px 60px;
  box-sizing: border-box;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Thumb {
  width: 100%;
  padding: 0 0 100% 0;
  background-color: #ccc;
  position: relative;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Thumb img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Title,
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Legend,
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Description {
  margin: 4px 0 0 0;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Title {
  font-weight: bold;
  line-height: 1em;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Legend {
  font-size: 0.8em;
  line-height: 1.2em;
  font-style: italic;
  display: none;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Description {
  line-height: 1.1em;
  display: none;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Dimensions {
  font-size: 0.8em;
  margin: 4px 0 0 0;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Dimensions .Width,
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Dimensions .Height {
  font-weight: bold;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Dimensions .X,
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Dimensions .Sep {
  display: inline-block;
  margin: 0 4px;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Dimensions .PX {
  display: inline-block;
  margin: 0 0 0 4px;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts .Image .Size {
  font-size: 0.8em;
  font-weight: bold;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts.Columns_2 .Image {
  width: 50%;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts.Columns_3 .Image {
  width: 33.33%;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts.Columns_4 .Image {
  width: 25%;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts.Columns_5 .Image {
  width: 20%;
}
.wp-block-ongadi-imagebank .Editor .Results .List .ListPosts:after {
  content: "";
  flex: auto;
}

/* Controls */
.OngAdi.ImageBank.InspectorControls .Controls {
  flex-direction: column;
  align-items: stretch;
}
.OngAdi.ImageBank.InspectorControls .Controls .FileBirdFolder select.components-select-control__input {
  height: 200px;
}
.OngAdi.ImageBank.InspectorControls .Controls .FileBirdFolder select.components-select-control__input option {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.OngAdi.ImageBank.InspectorControls .Controls .Columns {
  padding: 0 0 0 8px;
}
.OngAdi.ImageBank.InspectorControls .Controls .Columns .components-range-control__root {
  justify-content: space-between;
  gap: 16px;
}
.OngAdi.ImageBank.InspectorControls .Controls .Columns .components-range-control__root .components-base-control {
  margin: 0 !important;
}

/*# sourceMappingURL=main.css.map*/