/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app/scss/main.scss ***!
  \*****************************************************************************************************************/
/* 
  ------------------------------------------------
  Fonts 
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1em !important;
}

a {
  font-weight: 900;
}

.wp-block-group {
  overflow: hidden;
}

.editor-styles-wrapper .is-root-container .wp-block-image,
.editor-styles-wrapper .is-root-container .wp-block-gallery,
.editor-styles-wrapper .is-root-container .wp-block-audio,
.editor-styles-wrapper .is-root-container .wp-block-video,
.editor-styles-wrapper .is-root-container .wp-block-table,
.editor-styles-wrapper .is-root-container .wp-block-pullquote {
  margin-bottom: 0;
}

.wp-block-image.float {
  width: 100%;
  height: 100%;
}
.wp-block-image.float img {
  position: absolute;
}
.wp-block-image.float img {
  position: absolute;
  max-width: 200%;
  transform: translateY(16%);
}
.wp-block-image.float.bottom img {
  bottom: 0;
}
.wp-block-image.float.right img {
  right: 0;
}

.fitcontent {
  width: fit-content;
}

.borderround {
  border-radius: 4px;
}

@media (max-width: 782px) {
  .notdisplayinmobile {
    display: none;
  }
}

@media (min-width: 782px) {
  .rightdisplaced {
    transform: translateX(-10%);
  }
}

@media (max-width: 782px) {
  .disappear {
    display: none;
  }
}

@media (min-width: 782px) {
  .appear {
    display: none !important;
  }
}

.shadow {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

figure {
  position: relative;
}
figure img {
  display: block;
  margin: 0 auto;
}
figure.groupcap {
  width: 100%;
  padding: 0 0 50% 0;
}
figure.groupcap img {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(-40%);
}
figure.zindex-0 {
  z-index: 0;
}
figure.zindex-1 {
  z-index: 1;
}
figure.zindex-2 {
  z-index: 2;
}
figure.zindex-3 {
  z-index: 3;
}
figure.zindex-4 {
  z-index: 4;
}
figure.zindex-5 {
  z-index: 5;
}
figure.zindex-6 {
  z-index: 6;
}

.movedown {
  transform: translateY(30%);
}

@media (max-width: 782px) {
  .wp-block-columns.movilinverse {
    flex-direction: column-reverse;
  }
}

.elevar-8 {
  margin-top: -64px !important;
}
@media (max-width: 782px) {
  .elevar-8 {
    margin-top: -40px !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

#page {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.5s;
}

:root :where(.is-layout-flow) > * {
  margin-block-start: 0;
}

.main-header-menu > .menu-item {
  margin: 0 0 0 8px;
}
.main-header-menu > .menu-item > .menu-link {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 8px;
  font-size: 0.9em;
}

#ast-hf-mobile-menu {
  padding-top: 1px;
}
#ast-hf-mobile-menu > .menu-item {
  margin: 0 0 0 0;
}

.ast-mobile-header-content .ast-builder-menu-mobile .ast-main-header-bar-alignment .main-header-bar-navigation .site-navigation .main-navigation .main-header-menu .menu-item a {
  text-align: center;
}
.ast-mobile-header-content .ast-builder-layout-element {
  line-height: 3;
  text-align: center;
}
.ast-mobile-header-content .ast-builder-layout-element .ast-header-social-wrap {
  width: 100%;
}
.ast-mobile-header-content .ast-builder-layout-element .ast-header-social-wrap .header-social-inner-wrap:hover {
  background-color: var(--ast-global-color-4);
}
.ast-mobile-header-content .ast-builder-layout-element .ast-header-social-wrap .header-social-inner-wrap a {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

@media (max-width: 544px) {
  .wp-block-columns .wp-block-column:not(:last-child) {
    margin-bottom: 0;
  }
}
.grecaptcha-badge {
  bottom: 80px !important;
  z-index: 999;
}

.pgcal-container {
  padding: 16px;
  background-color: #fff;
}

.ast-theme-transparent-header .post-password-form {
  margin-top: 160px;
  max-width: 300px;
}
.ast-theme-transparent-header .post-password-form label input[name=post_password] {
  margin: 4px auto 0;
  width: 200px;
  display: block;
  text-align: center;
}
.ast-theme-transparent-header .post-password-form input[type=submit] {
  margin: 32px 0 0 0;
}

.wp-block-group.slider > .wp-block-group.slides {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}
.wp-block-group.slider > .wp-block-group.slides .flickity-viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100% !important;
  height: 100% !important;
}
.wp-block-group.slider > .wp-block-group.slides .flickity-viewport .flickity-slider .wp-block-cover {
  width: 100% !important;
}
.wp-block-group.slider > .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
.wp-block-group.slider > .content.left {
  left: 0;
  transform: none;
}
.wp-block-group.slider > .content.right {
  right: 0;
  transform: none;
}

:root {
  --fc-button-text-color: var(--ast-global-color-5);
  --fc-button-bg-color: var(--ast-global-color-0);
  --fc-button-border-color: var(--ast-global-color-0);
  --fc-button-hover-bg-color: var(--ast-global-color-1);
  --fc-button-hover-border-color: var(--ast-global-color-1);
  --fc-button-active-bg-color: var(--ast-global-color-1);
  --fc-button-active-border-color: var(--ast-global-color-1);
  --fc-event-bg-color: var(--ast-global-color-1);
  --fc-event-border-color: var(--ast-global-color-1);
  --fc-event-text-color: var(--ast-global-color-5);
  --fc-event-selected-overlay-color: var(--ast-global-color-0);
}

#LEDS-Reservas {
  position: relative;
  padding: 12px;
  background-color: var(--ast-global-color-4);
  border-radius: 4px;
  overflow: hidden;
}
#LEDS-Reservas table {
  margin: 0;
}
#LEDS-Reservas .fc-view-harness {
  background-color: #fff;
}
#LEDS-Reservas .fc-day {
  cursor: pointer;
}
#LEDS-Reservas .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) h2 {
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 640px) {
  #LEDS-Reservas .fc-header-toolbar {
    flex-wrap: wrap;
  }
  #LEDS-Reservas .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 2;
  }
  #LEDS-Reservas .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 1;
    width: 100%;
  }
  #LEDS-Reservas .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) h2 {
    margin: 0 0 8px 0;
  }
  #LEDS-Reservas .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 3;
  }
}
#LEDS-Reservas #FormWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
}
#LEDS-Reservas #FormWrapper:before, #LEDS-Reservas #FormWrapper:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
#LEDS-Reservas #FormWrapper #Form {
  display: inline-block;
  vertical-align: middle;
}
#LEDS-Reservas #Form {
  max-width: 310px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-align: left;
  line-height: 1.3em;
}
#LEDS-Reservas #Form > .Title {
  margin: 0 0 20px 0;
  padding: 0 32px 0 0;
  position: relative;
  min-height: 16px;
}
#LEDS-Reservas #Form > .Title .TitleText {
  flex: 1;
  line-height: 1.1em;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}
#LEDS-Reservas #Form > .Title .Close {
  position: absolute;
  top: 0;
  right: -12px;
  padding-top: 7px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
}
#LEDS-Reservas #Form > .Title .Close h3 {
  line-height: 1;
  color: #fff;
  margin-bottom: 0;
}
#LEDS-Reservas #Form .Text,
#LEDS-Reservas #Form .ErrorMessage,
#LEDS-Reservas #Form .Message {
  text-align: center;
}
#LEDS-Reservas #Form .ErrorMessage {
  color: #cc0000;
  font-size: 0.9em;
  font-weight: bold;
}
#LEDS-Reservas #Form .Fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#LEDS-Reservas #Form .Fields .Field {
  width: 100%;
  display: flex;
  align-items: center;
}
#LEDS-Reservas #Form .Fields .Field select {
  width: 100%;
  padding: 0 0 4px 0 !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0;
  cursor: pointer;
  height: auto !important;
  font-size: 0.95em;
}
#LEDS-Reservas #Form .Fields .Field select:disabled {
  opacity: 0.2;
}
#LEDS-Reservas #Form .Fields .Field.HourSelector {
  width: calc(45% - 8px);
}
#LEDS-Reservas #Form .Fields .Field.DurationSelector {
  width: calc(55% - 8px);
}
#LEDS-Reservas #Form .Fields .Field.Recurrent {
  width: 100%;
  margin: 12px 0 0 0;
  align-items: stretch;
}
#LEDS-Reservas #Form .Fields .Field.Recurrent input {
  width: 16px;
  height: 16px;
  margin: 2px 6px 0 0;
  cursor: pointer;
}
#LEDS-Reservas #Form .Fields .Field.Recurrent label {
  flex: 1;
  font-size: 0.95em;
  cursor: pointer;
}
#LEDS-Reservas #Form .Fields .Field.Durante {
  width: 100%;
  margin: 12px 0 0 0;
}
#LEDS-Reservas #Form .Fields .Field.Title {
  margin: 12px 0 0 0;
}
#LEDS-Reservas #Form .Fields .Field.Title input {
  width: 100%;
  padding: 0 0 4px 0 !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0;
  height: auto !important;
}
#LEDS-Reservas #Form .Fields .Field.Mail {
  margin: 24px 0 0 0;
}
#LEDS-Reservas #Form .Fields .Field.Mail input {
  width: 100%;
  padding: 0 0 4px 0 !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0;
  cursor: pointer;
  height: auto !important;
  text-align: center;
}
#LEDS-Reservas #Form .Actions {
  margin: 16px 0 0 0;
  text-align: center;
}
#LEDS-Reservas #Form .Actions button {
  width: 90%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}
#LEDS-Reservas #Form .Actions button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
#LEDS-Reservas #Form .Actions button + button {
  margin: 16px 0 0 0;
}

body.WithBGRotatory #masthead {
  z-index: 2;
}
body.WithBGRotatory #content {
  z-index: 1;
}
body.WithBGRotatory #colophon {
  z-index: 2;
}

@keyframes rotatory {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(359deg);
  }
}
#LEDS-BG-Rotatory {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
#LEDS-BG-Rotatory .ImageA,
#LEDS-BG-Rotatory .ImageB {
  position: absolute;
  width: 3000px;
  height: 3000px;
  opacity: 0.1;
  background-image: url(/wp-content/plugins/poeticsoft-lespaidesants/assets/images/color-gigante-a.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  transform: translateX(-50%) translateY(-50%) rotate(10deg);
  animation-name: rotatory;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#LEDS-BG-Rotatory .ImageA {
  top: 0;
  left: 0;
  animation-duration: 30s;
}
#LEDS-BG-Rotatory .ImageB {
  top: 100%;
  left: 100%;
  animation-duration: 40s;
}

#simple-contact-form form {
  padding: 0;
}
#simple-contact-form form .scf-row {
  width: 100%;
}
#simple-contact-form form .scf-row label {
  display: block;
  font-size: 1em;
}
#simple-contact-form form .scf-row input {
  margin-top: 4px;
}
#simple-contact-form form .scf-row textarea {
  width: 100%;
  margin-top: 4px;
}
#simple-contact-form form .scf-row + .scf-row {
  margin: 16px 0 0 0;
}

#scf_success pre {
  white-space: pre-wrap;
}

p.scf_error,
p.scf_spam {
  color: #cc0000;
}

div.scf-submit {
  margin-top: 10px;
}

p.scf_success {
  color: #669966;
}

.scf-confirm-checkbox {
  margin-top: 15px;
}

.scf-website3dhhsy3 {
  display: none;
}

/*# sourceMappingURL=main.css.map*/