.wp-block-group {

  overflow: hidden;
}

.editor-styles-wrapper .is-root-container .wp-block-image, 
.editor-styles-wrapper .is-root-container .wp-block-gallery, 
.editor-styles-wrapper .is-root-container .wp-block-audio, 
.editor-styles-wrapper .is-root-container .wp-block-video, 
.editor-styles-wrapper .is-root-container .wp-block-table, 
.editor-styles-wrapper .is-root-container .wp-block-pullquote {
  
  margin-bottom: 0;
}

.wp-block-image {

  &.float {

    width: 100%;
    height: 100%;

    img {

      position: absolute;
    }
  }

  &.float {

    img {

      position: absolute;
      max-width: 200%;
      transform: translateY(16%);
    }

    &.bottom { 
      
      img {
        
        bottom: 0; 
      }
    }

    &.right { 
      
      img {
        
        right: 0; 
      }
    }
  }
}